In [1]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [2]:
data=pd.read_csv('User_Data.csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
# Feature selection using chi-square test
def perform_chi2_feature_selection(X, y, k=5):
    chi2_selector = SelectKBest(chi2, k=k)
    X_new = chi2_selector.fit_transform(X, y)
    return X_new

In [4]:
# Split data into training and testing sets
def split_data(X, y, test_size=0.2, random_state=42):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)
    return X_train, X_test, y_train, y_test

In [5]:
def train_svm(X_train, y_train, C=1.0, kernel='linear'):
    svm_classifier = SVC(C=C, kernel=kernel)
    svm_classifier.fit(X_train, y_train)
    return svm_classifier

In [6]:
def evaluate_svm(svm_classifier, X_test, y_test):
    y_pred = svm_classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    report = classification_report(y_test, y_pred)
    return accuracy, report

In [8]:
if __name__ == "__main__":
    # Load your data into a pandas DataFrame
    # Replace 'your_data.csv' with the actual file path of your dataset
    data = pd.read_csv('User_Data.csv')

    # Separate the target variable from features
    #dff = data.drop('User ID', axis=1)
   # df = dff.drop('Gender', axis=1)
    X = data[['EstimatedSalary']]
    y = data['Purchased']

    # Step 1: Perform chi-square feature selection
    k_selected_features = 1   # Adjust this value based on how many top features you want to select
    X_selected = perform_chi2_feature_selection(X, y, k = k_selected_features)

    # Step 2: Split the data into training and testing sets
    X_train, X_test, y_train, y_test = split_data(X_selected, y)

    # Step 3: Train the SVM classifier
    svm_classifier = train_svm(X_train, y_train)

    # Step 4: Evaluate the SVM classifier
    accuracy, report = evaluate_svm(svm_classifier, X_test, y_test)
    print("Accuracy:", accuracy)
    print("Classification Report:")
    print(report)

Accuracy: 0.725
Classification Report:
              precision    recall  f1-score   support

           0       0.72      0.94      0.82        52
           1       0.75      0.32      0.45        28

    accuracy                           0.73        80
   macro avg       0.74      0.63      0.63        80
weighted avg       0.73      0.72      0.69        80