In [3]:
import pandas as pd
import json
df=pd.read_json("C:/Users/User/Downloads/de.jsonl",lines=True)
df

,tokens,tags
0,"[Die, Blätter, des, Huflattichs, sind, leicht,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 23, 24, 0..."
1,"[Der, Huflattich, gehört, nicht, zur, Gattung,...","[0, 0, 0, 0, 0, 0, 0, 0, 23, 0, 0, 0, 0, 0, 0,..."
2,"[Nach, dem, "", law, of, effect, "", (, Gesetz, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[Insbesondere, in, Italien, ,, aber, auch, in,...","[0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[Gleiches, gilt, für, die, Hardy, Cove, von, G...","[0, 0, 0, 0, 3, 4, 0, 3, 4, 0, 0, 0, 3, 4, 0]"
...,...,...
156787,"[In, der, Neuzeit, hat, die, (, homo, -, ), er...","[0, 0, 27, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
156788,"[1936, erhielt, er, den, Bachelor, of, Laws, ,...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 6, ..."
156789,"[Vom, bischöflichen, Ordinariat, Rottenburg, w...","[0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
156790,"[Im, September, 1971, folgte, ein, Plattenvert...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0]"
156791,"[Mit, dem, Titel, "", Sie, kommt, wieder, "", tr...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."