In [2]:
#calculating with missing data
import numpy as np
import pandas as pd
array=np.array([3,np.nan,0,4,np.nan])
print(array)

[ 3. nan  0.  4. nan]

In [5]:
#cleaning missing data
import numpy as np
import pandas as pd
#create a csv dataset
data_string='''Id,Gender,Salary,Country,Company
1,Male,15000,India,Google
2,Female,45000,China,NaN
3,Female,25000,India,Google
4,NaN,NaN,Australia,Google
5,Male,NaN,India,Google
6,Male,54000,NaN,Alibaba
7,NaN,74000,China,NaN
8,Male,14000,Australia,NaN
9,Female,15000,NaN,NaN
10,Male,33000,Australia,NaN'''
with open('Salary.csv','w') as out:
    out.write(data_string)

In [7]:
#import the dataset
df=pd.read_csv('Salary.csv')
print('salary dataset:\n',df)
#check for missing data
print('missing data:\n',df.isna())
print('missing data:\n',df.isnull())
#print only missing data
print('filter based on columns:\n',df[df.isnull().any(axis=1)])
#sum up the missing values
print('sum up the missing values:\n',df.isnull().sum())

salary dataset:
    Id  Gender   Salary    Country  Company
0   1    Male  15000.0      India   Google
1   2  Female  45000.0      China      NaN
2   3  Female  25000.0      India   Google
3   4     NaN      NaN  Australia   Google
4   5    Male      NaN      India   Google
5   6    Male  54000.0        NaN  Alibaba
6   7     NaN  74000.0      China      NaN
7   8    Male  14000.0  Australia      NaN
8   9  Female  15000.0        NaN      NaN
9  10    Male  33000.0  Australia      NaN
missing data:
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True    False    False
4  False   False    True    False    False
5  False   False   False     True    False
6  False    True   False    False     True
7  False   False   False    False     True
8  False   False   False     True     True
9  False   False   False    False     True
missing data:
       Id  Gender  Salary  Country  Company
0  False   False   False    False    False
1  False   False   False    False     True
2  False   False   False    False    False
3  False    True    True    False    False
4  False   False    True    False    False
5  False   False   False     True    False
6  False    True   False    False     True
7  False   False   False    False     True
8  False   False   False     True     True
9  False   False   False    False     True
filter based on columns:
    Id  Gender   Salary    Country  Company
1   2  Female  45000.0      China      NaN
3   4     NaN      NaN  Australia   Google
4   5    Male      NaN      India   Google
5   6    Male  54000.0        NaN  Alibaba
6   7     NaN  74000.0      China      NaN
7   8    Male  14000.0  Australia      NaN
8   9  Female  15000.0        NaN      NaN
9  10    Male  33000.0  Australia      NaN
sum up the missing values:
 Id         0
Gender     2
Salary     2
Country    2
Company    5
dtype: int64

In [8]:
#dropping missing data
df.dropna(inplace=True)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [9]:
#replacing missing data
df["Salary"].fillna(20000,inplace=True)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [10]:
#import functions for handling missing data in pandas
gender=pd.isnull(df["Gender"])
gender

0    False
2    False
Name: Gender, dtype: bool

In [11]:
#notnull()
print('Non missing data\n',df.notnull())

Non missing data
      Id  Gender  Salary  Country  Company
0  True    True    True     True     True
2  True    True    True     True     True

In [13]:
#dropna()
print('drop missing company data\n',df.Company.dropna())
df.dropna()

drop missing company data
 0    Google
2    Google
Name: Company, dtype: object

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [14]:
#eleminate columns with at least one missing value
df.dropna(axis=1)
print(df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [15]:
#dropping rows in a csv file that include at least one null value:
new_df=df.dropna(axis=0,how='any')
print(new_df)

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [16]:
#fillna()
print('fill missing data\n',df.fillna(0))

fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [20]:
print('fill missing data\n',df.fillna(method='pad'))

fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [21]:
print('fill missing data\n',df.fillna(method='bfill'))

fill missing data
    Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google

In [23]:
print('fill missing data\n',df["Gender"].fillna("no Gender",inplace=True))

fill missing data
 None

In [24]:
#replace
print(df.replace(to_replace='Google',value='microsoft'))

   Id  Gender   Salary Country    Company
0   1    Male  15000.0   India  microsoft
2   3  Female  25000.0   India  microsoft

In [25]:
#interpolate()
print(df.interpolate(method='linear',limit_direction='forward'))

   Id  Gender   Salary Country Company
0   1    Male  15000.0   India  Google
2   3  Female  25000.0   India  Google