In [2]:
import pandas as pd
from pandas import DataFrame
df=pd.read_table("C:/Users/User/Downloads/adele.txt")
df

                             Looking for some education
0                            Made my way into the night
1                        All that bullshit conversation
2     Baby, can't you read the signs? I won't bore y...
3                    I don't even wanna waste your time
4                             Let's just say that maybe
...                                                 ...
2392                  1 2 3 4. Fiasco, fiasco [Chorus:]
2393                                            1 2 3 4
2394   I'm calling, I'm calling, I'm calling it fiasco,
2395   I'm calling, I'm calling, I'm calling it fiasco,
2396  I'm calling, I'm calling, I'm calling it fiasco.

[2397 rows x 1 columns]